:root {
    --white: #ffffff;
    --black: #000000;
    --primary-clr: #171A1F;
    --green: #0ead98;
    --light-green: #1BBEB2;
    --brown: #5a5e66;
    --txt-clr: #a6a9ae;
    --nav-tabs: #C7F1EF;
    --input-border: #5c5d61;
    --red: #db5541;
    --next-prev: #434D66;
    --bg-input: #2C3038;
    --l-black: #1f2124;
    --dark: #1b1e24;
    --dark-brown: #23272e;
    --f-border: #393e47;

}


$white : var(--white);
$black: var(--black);
$primary-clr: var(--primary-clr);
$green: var(--green);
$light-green: var(--light-green);
$brown: var(--brown);
$txt-clr: var(--txt-clr);
$nav-tabs: var(--nav-tabs);
$input-border: var(--input-border);
$red: var(--red);
$next-prev: var(--next-prev);
$bg-input: var(--bg-input);
$l-black: var(--l-black);
$dark: var(--dark);
$dark-brown: var(--dark-brown);
$f-border: var(--f-border);