.home-banner {
    background-color: $primary-clr;
    margin-top: 58px;

    .custom-container {
        margin: 0 auto;
        max-width: 1280px;

        .c-home-banner {
            padding-top: 60px;
            @media (max-width: 991px) {
                padding-top: 30px;
            }

            .banner-txt {
                padding-top: 30px;
                @media (max-width: 991px) {
                    text-align: center;
                }
                h1 {
                    line-height: 46px;
                    color: $white;
                    font-size: 40px;
                    font-weight: 700;
                }

                p {
                    color: $txt-clr;
                    margin-top: 10px;
                    font-size: 20px;
                }

                .register-banner {
                    display: flex;
                    margin-top: 30px;
                    @media (max-width: 991px) {
                        justify-content: center;
                    }
                    @media (max-width: 575px) {
                        flex-direction: column;
                        gap: 10px;
                    }

                    .banner-input {
                        width: 314px;
                        position: relative;
                        display: inline-block;
                        @media (max-width: 575px) {
                            width: 100%;
                        }

                        

                        input {
                            background-color: transparent !important;
                            border-color: $input-border !important;
                            border-radius: 30px;
                            padding-left: 20px !important;
                            padding-right: 20px !important;
                            color: $white !important;
                            height: 48px;
                            line-height: 48px;
                            display: inline-block;
                            width: 100%;
                            outline: 0;

                            &::placeholder {
                                color: #5c5d61;
                                font-size: 14px;
                                opacity: 1;
                                /* Firefox */
                            }
                            &:focus{
                                border: 1px solid $light-green !important;
                                box-shadow: unset !important;
                            }
                        }
                    }

                    .reg-btn {
                        min-width: 160px;
                        background: $green;
                        border: 1px solid $green;
                        border-radius: 4px;
                        color: $white;
                        font-size: 14px;
                        font-weight: 400;
                        height: 48px;
                        line-height: 1;
                        outline: none;
                        padding: 0 20px;
                        transition: all .3s;
                        white-space: normal;
                        margin-inline-start: 15px !important;
                        border-radius: 30px;
                        @include flex-center;

                        @media (max-width: 575px) {
                            width: 100%;
                            margin-inline-start: 0 !important;
                        }
                        &:hover{
                            background-color: $light-green;
                            border-color: $light-green;
                        }
                    }
                }
            }
            .banner-img{
                @media (max-width: 991px) {
                    display: none;
                }
            }
        }
    }
}