.img-slider {
    background-color: $primary-clr;
    padding-top: 25px;
    padding-bottom: 40px;

    .swiper-slide {
        img {
            width: 400px;
            height: 152px;
            border-radius: 10px;
        }
        
    }
    .swiper-pagination{
        
        bottom: 0;
    }
    .swiper-pagination-bullet{
        border-radius: 4px;
        height: 4px;
        width: 20px;
        background-color: $white;
    }
    .swiper-pagination-bullet-active{
        background-color: $light-green;
    }
}
.anouncement{
    margin-top: 30px;
    background-color: $primary-clr;
    display: flex;
    align-items: center;
    justify-content: space-between;
}