.market-list{
    padding-top: 40px;
    background-color: $primary-clr;
    .market-item{
        width: 230px;
        cursor: pointer;
        padding-inline-end: 20px !important;
        padding-top: 5px;
        padding-bottom: 5px;
        border-color: $input-border !important;
        border-right: 1px solid;
        @media (max-width: 991px) {
            width: 100%;
            text-align: center;
            border: none;
            padding-bottom: 18px;
        }
        .leading{
            display: flex;
            align-items: center;
            gap: 3px;
            @media (max-width: 991px) {
                justify-content: center;
            }
            @media (max-width: 370px) {
                justify-content: flex-start;
            }
           
            .coin{
                border-radius: 50%;
                height: 25px;
                overflow: hidden;
                position: relative;
                width: 25px;
                img{
                    width: 25px;
                    height: 25px;
                    @media (max-width: 575px) {
                        display: none;
                    }
                }
            }
            span{
                margin-inline-start: 8px !important;
                color: $white;
                font-weight: 600;
                @media (max-width: 575px) {
                    margin-inline-start: 0px !important;
                    font-size: 14px;
                }
            }
            .percent-negative{
                margin-inline-start: 18px !important;
                color: $red;
                font-size: 14px;
                @media (max-width: 575px) {
                    font-size: 10px;
                    margin-inline-start: 4px !important;
                }
            }
        }
        .sub-num{
            span{
                color: $white;
                font-size: 20px;
                margin-top: 6px;
                @media (max-width: 575px) {
                    font-size: 16px;
                }
            }
        }
        .end-num{
            span{
                color: $brown;
                font-size: 14px;
            }
            
        }
    }
}