.table-home {
    padding-top: 75px;
    background-color: $primary-clr;

    .table-head {
        @media (max-width: 575px) {
            gap: 20px;
        }
    }

    .header-wrapper {
        .heading {
            color: $white;
            font-weight: 700;
            font-size: 32px;
            margin-bottom: 6px;
        }

        span {
            color: $txt-clr;
            font-size: 14px;

        }
    }

    .table-input {
        input {
            background-color: $bg-input !important;
            border-color: $input-border !important;
            border-radius: 12px;
            padding-left: 20px !important;
            padding-right: 20px !important;
            color: $white !important;
            height: 48px;
            line-height: 48px;
            display: inline-block;
            width: 100%;
            outline: 0;

            &::placeholder {
                color: #5c5d61;
                font-size: 14px;
                opacity: 1;
                /* Firefox */
            }

            &:focus {
                border: 1px solid $light-green !important;
                box-shadow: unset !important;
            }
        }
    }

    .ranks {
        padding: 25px 0;
        --bs-nav-tabs-border-width: 0 !important;
        --bs-nav-tabs-border-color: unset !important;
        --bs-nav-tabs-border-radius: 0 !important;


        @media (max-width: 991px) {
            gap: 16px;
        }

        @media (max-width: 575px) {
            justify-content: center;
        }


        .nav-link {
            color: $txt-clr;
            background-color: $bg-input;
            font-size: 14px;
            line-height: 36px;
            height: 50px;
            width: 98px;
            margin-inline-end: 12px;
            border-radius: 12px !important;
            border: 1px solid $bg-input;

            &.active {
                background-color: unset !important;
                color: $green;
                border: 1px solid $green;
            }
        }

    }

    .tab-content {
        padding: 0 !important;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        

        th {
            background-color: transparent;
            border: 0 !important;
            font-size: 12px;
            color: $txt-clr;
        }

        td {
            background-color: transparent;
            border: 0 !important;
            cursor: pointer;
        }

        .cell {
            display: flex;
            gap: 8px;
            padding: 20px 12px;
            border-radius: 12px;

            .first-col {
                height: 24px;
                width: 24px;
            }

            .fw {
                color: $white;
                font-weight: 500;
            }

            .sw {
                color: $txt-clr;
                font-size: 12px;
            }

            .positive {
                color: $green;
                font-weight: 500;
            }

            .negative {
                color: $red;
                font-weight: 500;
            }
        }

        .body-row {
            &:hover {
                background-color: $bg-input;
            }

        }
    }
}